# Ignore dependencies that are managed with Composer.
/vendor/
/web/core/
/web/modules/contrib/
/web/themes/contrib/
/web/profiles/contrib/
/web/libraries/

# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
sites/*/services*.yml

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
/web/sites//files/
/web/sites//private/

# Ignore multi-site test environment.
sites/simpletest

# If you prefer to store your .gitignore file in the sites/ folder, comment
# or delete the previous settings and uncomment the following ones, instead.

# Ignore configuration files that may contain sensitive information.
# */settings*.php

# Ignore paths that contain user-generated content.
# */files
# */private

# Ignore multi-site test environment.
# simpletest

# Ignore local settings
web/sites/*/settings.local.php
web/sites/*/services.local.yml

# Ignore Lando overrides
.lando.local.yml

# Ignore MacOS files
.DS_Store

# Environment files
/.env

# Ignore DB dumps
*.sql
*.sql.gz
*.sql.gz.gz
*.mysql
*.mysql.gz

#Node modules anywhere
**/node_modules